<p>
  Utrecht Java User Group refers to anyone around Netherlands, interested in Java and Open Source development.
</p>
<p>
  Whether you are a professional in the field, an enthusiast , a student looking to build your career in Java development, or just somebody looking for good food and free beer, we'd love to see you at one of our meetups.
</p>
<p>
  We are a part of <a href="http://www.java.net">Java.net</a> <a href="https://www.java.net/jugs/java-user-groups">Java User Group</a> initiative, with legalized formal status of a Non-goverment organization (NGO) in Macedonia. We have a defined structure and are working with a supporter/sponsor based model. To see more information, be sure to check the <a href="/about">About</a> section.
</p>
<p>The "official language" is English, so that non-Dutch speakers can also participate easily.</p>
<p>
  If you are interested in joining us, just subscribe to one of our mailings lists and start collaborating. Also, be sure to check the <a href="/events">Events</a>!
<p>Looking forward to meeting you all and exchange of knowledge and ideas!</p>
